<form *ngIf="pokemon" (ngSubmit)="onSubmit()" #pokemonForm="ngForm">
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="card-panel">

        <!-- Pokemon name -->
        <div class="form-group">
          <label for="name">Nom</label>
          <input type="text" class="form-control" id="name"
                 pattern="[a-zA-ZáàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ]{1,25}"
                 required
                 [(ngModel)]="pokemon.name" name="name"
                 #name="ngModel">

          <!-- Error message -->
          <div [hidden]="name.valid || name.pristine"
               class="card-panel red accent-1">
            Le nom du pokémon est requis (25 caractères maximum).
          </div>
        </div>

        <!-- Pokemon picture -->
        <div class="form-group">
          <label for="picture">Image</label>
          <input type="text" class="form-control" id="picture"
                 pattern="https?://.+"
                 required
                 [(ngModel)]="pokemon.picture" name="picture"
                 #picture="ngModel">

          <!-- Error message -->
          <div [hidden]="picture.valid || picture.pristine"
               class="card-panel red accent-1">
            L'image du pokémon est requise.
          </div>
        </div>

        <!-- Pokemon hp -->
        <div class="form-group">
          <label for="hp">Point de vie</label>
          <input type="number" class="form-control" id="hp"
                 pattern="[0-9]{1,3}"
                 required
                 [(ngModel)]="pokemon.hp" name="hp"
                 #hp="ngModel">

          <!-- Error message -->
          <div [hidden]="hp.valid || hp.pristine"
               class="card-panel red accent-1">
            Les points de vie du pokémon sont requis (de 0 à 999).
          </div>
        </div>

        <!-- Pokemon cp -->
        <div class="form-group">
          <label for="cp">Dégâts</label>
          <input type="number" class="form-control" id="cp"
                 pattern="[0-9]{1,3}"
                 required
                 [(ngModel)]="pokemon.cp" name="cp"
                 #cp="ngModel">

          <!-- Error message -->
          <div [hidden]="cp.valid || cp.pristine"
               class="card-panel red accent-1">
            Les dégats du pokémon sont requis (de 0 à 999).
          </div>
        </div>

        <!-- Pokemon types -->
        <div class="form-group">
          <label for="type">Types</label>
          <div *ngFor="let type of types" class="row">
            <input type="checkbox"
                   class="filled-in"
                   id="{{ type }}"
                   [value]="type"
                   [checked]="hasType(type)"
                   [disabled]="!isTypeValid(type)"
                   (change)="selectType($event, type)"
            />
            <label [attr.for]="type">
              <span class="{{ type | appPkmnTypeColor }}">{{ type }}</span>
            </label>
          </div>
        </div>

        <!-- Submit button -->
        <div class="divider"></div>
        <div class="section center">
          <button type="submit"
                  class="waves-effect waves-light btn"
                  [disabled]="!pokemonForm.form.valid || pokemon.types.length < 1">
            Valider</button>
        </div>

      </div>
    </div>
  </div>
</form>
<h4 *ngIf="!pokemon" class="center">
  <app-loader></app-loader>
</h4>
